body{
  margin:0;
  text-align: center;
 font-family: 'Lobster', cursive;
 color: #40514e;
}
h1{
font-family: 'Pacifico', cursive;
margin-top: 75px auto 0 auto;
font-size: 5.625em;
color: #66BFBF;
}
.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding:50px 0 20px;


}
h2{
  font-family: 'Bangers', cursive;
  color: #66BFBF;
  font-weight: lighter;
  font-size: 2.65em;
  padding-bottom: 10px;

}
h3{
  font-family: 'Bangers', cursive;
      color:  #11999E;
}

hr{
  border: dotted #EAF6f6 8px;
  border-bottom:none;
  width:4%;
  margin: 100px auto;

}
p{
  line-height: 2;
}
.top-cloud{
  position: absolute;
  right:330px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
bottom:350px;
}
.middle-container{
  background-color: #cde0dc;
  position: relative;

}
.karen{
  border-radius: 50%;
  padding-top: 15px;
}
.right{
  position: absolute;
  right: 175px;

}
.left{
  position: absolute;
  left: 175px;
}
.giphy{
  border-radius: 10%;
}
.bottom-container{
  background-color: #b6c7c4;
  padding: 50px 0 20px;
}
.footer-link{
  color:  #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6f6;
}
.copyright{
  color:#EAF6f6;
  font-size: 0.90em;
  padding:20px 0;
}
.btn{
  font-family: 'Lobster', cursive;
 color: #F7F7F7 !important;
 font-size: 18px;
 text-shadow: 1px 1px 0px #7CACDE;
 box-shadow: 1px 1px 1px #BEE2F9;
 padding: 10px 25px;
 -moz-border-radius: 11px;
 -webkit-border-radius: 11px;
 border-radius: 11px;
 border: 2px solid #3866A3;
 background: #63B8EE;
 background: linear-gradient(top,  #5AD1BD,  #11999E);
 background: -ms-linear-gradient(top,  #5AD1BD,  #11999E);
 background: -webkit-gradient(linear, left top, left bottom, from(#5AD1BD), to(#11999E));
 background: -moz-linear-gradient(top,  #5AD1BD,  #11999E);
}
.btn:hover {
 color: #14396A !important;
 background: #468CCF;
 background: linear-gradient(top,  #468CCF,  #CDE0DC);
 background: -ms-linear-gradient(top,  #468CCF,  #CDE0DC);
 background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#CDE0DC));
 background: -moz-linear-gradient(top,  #468CCF,  #CDE0DC);
}

/*
<div class="snow" />
<style>
.editor-stage .snow {
  height:50px;
  background: #fff;
}
span{
  text-decoration: underline;
}
.snow{
  position:fixed;
  pointer-events:none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
  background: none;
  background-image: url('https://s3-eu-west-1.amazonaws.com/static-ressourcs/s1.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s3.png');
  z-index:100;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
</style>
<p>
*/
